#category_title .category_ul > li > a {
  display: block;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  color: #000;
  font-weight: 700;
  border: 1px solid #ccc;
  background: url(http://www.zuyushop.com/wap/images/arrow1.gif) right center no-repeat;
  background-color: #ededed;
  padding-left: 15px;
}
#category_title .category_ul ul {
  display: none;
}
#category_title .category_ul ul li {
  height: 40px;
  line-height: 40px;
  float: left;
  width: 33.33%;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  text-align: center;
}
